<h3><%= @customer.description %></h3>
<p>Nome: <%= @customer.name %></p>
<p>Email: <%= @customer.email %></p>
<p>CPF: <%= @customer.cpf %></p>
<p>Telefone: <%= @customer.phone %></p>

<%= link_to "Editar cliente", edit_personal_customer_path, class: "btn btn-primary" %>
<%= link_to 'Cancelar', root_path, class:"btn btn-outline-danger" %>
