<h1>Retorno da Manutenção </h1>

<%= render partial: 'shared/model_errors', locals: { object: @maintenance } %>

<%= form_for @maintenance, url: car_return_maintenance_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :invoice, 'Nota Fiscal', class: "form-label" %>
    <%= f.text_field :invoice, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :service_cost, 'Valor', class: "form-label" %>
    <%= f.text_field :service_cost, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :maintenance_date, 'Data Manutenção', class: "form-label" %>
    <%= f.date_field :maintenance_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit 'Retornar de manutenção', class: "btn btn-primary" %>
    <%= link_to 'Cancelar', root_path, class:"btn btn-outline-danger" %>
  </div>
<% end %>