
<div class="d-flex justify-content-between mt-3 sticky-top"> 
    <h3 class="text-center ">Carro(s) Disponiveis</h3>
    <%= form_tag(available_cars_cars_path, method: :get) do %>
        <%= text_field_tag(:name, '', { id: 'search-field', placeholder: 'Buscar disponiveis...' } )%>
        <%= submit_tag('Buscar', id: 'search-button', class: 'btn btn-primary') %>
    <% end %>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col">
      <h5>Descrição</h5>
    </div>
    <div class="col">
      <h5>Ano</h5>
    </div>
    <div class="col">
      <h5>Diária</h5>
    </div>
  </div>
  <% if @available_cars.present? %>
    <% @available_cars.each do |available_car| %>
      <div class="row">
        <div class="col">
          <p><%= link_to available_car.car_identification, car_path(available_car.id) %></p>
        </div>
        <div class="col">
          <p><%= available_car.car_model.year %></p>
        </div>
        <div class="col">
          <p><%= number_to_currency(available_car&.car_price || 0, unit: 'R$', separator: ',', delimiter: '.') %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Nenhum carro encontrado para '<%= params[:name] %>' !!!.</p>
  <% end %>
</div>
